/* Estilos para a seção "Sobre Nós" */
.about-us-section {
    padding: 100px 0;
    color: #fff; /* Cor do texto */
}

.about-us-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #000000; /* Cor do título */
}

.about-us-section p {
    font-size: 18px;
    color: #202020; /* Cor do texto */
}

/* Estilos para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo do rodapé */
    padding: 20px 0;
    text-align: center;
}

/* Estilos adicionais */
body {
    background-image: url('../assets/background.png'); /* Caminho para a imagem de fundo */
    background-size: center center; /* Ajusta a imagem de fundo para cobrir todo o corpo */
    background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
    background-position: center center; /* Centraliza a imagem de fundo */
}
