/* login.css */

/* Estilo para centralizar as caixas horizontalmente */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Definindo a altura total da tela */
}

/* Estilo para as caixas */
.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Estilo para o título das caixas */
.box h3 {
  color: #333; /* cor do texto */
  margin-bottom: 15px; /* margem inferior para separar o título do parágrafo */
}

/* Estilo para a descrição das caixas */
.box p {
  color: #666; /* cor do texto */
  margin-bottom: 15px; /* margem inferior para separar o parágrafo do botão */
}

/* Estilo para os botões */
.btn {
  margin-top: auto; /* alinhar o botão ao final da caixa */
}
