*{
  font-family: 'Arial', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url("../assets/consulta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f3f4f6;
  color: #2d3748;
}

.container{
  margin-bottom: 3%;
}
.card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  background: linear-gradient(45deg, #3498db, #8e44ad);
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: #fff;
  transition: background 0.3s ease-in-out;
}

.btn-custom:hover {
  background: linear-gradient(45deg, #2980b9, #663399);
}

.text-danger {
  color: #e53935;
}

.custom-logo {
  margin-left: 40px; /* Ajuste conforme necessário */
  margin-top: 15px; /* Ajuste conforme necessário */
}