body {
    background-image: url('/images/medicosatt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 80px;
    margin: 0;
    height: 100vh; /* Define a altura da imagem de fundo como 100% da altura da tela */
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}
