.navbar {
    margin-bottom: 20px; /* Adiciona margem inferior ao cabeçalho */
  }
  
  .navbar-brand {
    margin-left: 75px; /* Adiciona margem à ESQ da logo */
    margin-top: 15px;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
  }
  
  .navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important; /* Use !important para garantir que a cor seja aplicada */
    font-size: 19px; /* Ajusta o tamanho da fonte */
  }
  
  .navbar-nav {
    margin-right: 120px; /* Adiciona margem à DIR do texto do menu */
  }
  
  .logo-img {
    max-width: 100px;
    height: auto;
  }
  
body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand img {
    max-height: 50px;
}

.section-about {
    padding: 100px 0;
    background-color: #f8f9fa;
}

.section-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.section-subheading {
    font-size: 18px;
    color: #777;
    margin-bottom: 50px;
}

.section-contact {
    padding: 100px 0;
}

.contact-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer h4 {
    color: #fff;
    margin-bottom: 30px;
}

.footer p {
    color: #bbb;
}
