/* Reset de estilos */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative; /* Permite que o botão Back seja posicionado absolutamente em relação a este elemento */
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.header h1 {
  font-size: 36px;
}

.main {
  padding: 20px 0;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
}

.footer {
  background-color: #f8f9fa;
  color: #555;
  padding: 20px 0;
  text-align: center;
}

.post-it {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-it-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-it-header h3 {
  margin: 0;
  font-size: 20px;
}

.post-it-body p {
  margin-bottom: 5px;
}

/* CSS para Consulta Aceita */
.post-it.accepted {
  border-color: #28a745; /* Cor da borda verde */
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.5); /* Sombra verde */
  background-color: #f1f8e9; /* Cor de fundo verde claro */
}

.post-it.accepted .post-it-header {
  background-color: #28a745; /* Cor de fundo do cabeçalho verde */
}

.post-it.accepted .post-it-header h3 {
  color: #fff; /* Cor do texto do título branco */
}

.post-it.accepted .button-group {
  display: none; /* Oculta os botões de ação */
}

.accepted-animation {
  background-color: #28a745 !important; /* Muda a cor do botão para verde */
  transition: background-color 0.5s ease, opacity 0.5s ease; /* Adiciona transição suave à mudança de cor e opacidade */
  opacity: 0; /* Faz o botão desaparecer gradualmente */
}

.accept-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeOut 10s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.history-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px 25px;
  font-size: 18px;
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  transition: background-color 0.3s ease; /* Adiciona transição suave de cor de fundo */
}

.history-btn:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.history-btn:focus {
  outline: none; /* Remove o contorno ao focar */
}