/* Estilos gerais da página */
body {
  margin: 0;
  padding: 0;
  font-size: 16px; /* Tamanho padrão das letras */
}

.navbar {
  margin-bottom: 20px; /* Espaço inferior da navbar */
}

.navbar-brand {
  margin-left: 75px; /* Margem à esquerda do logo */
  margin-top: 15px; /* Margem superior do logo */
  text-transform: uppercase; /* Texto em maiúsculas */
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important; /* Cor do texto do menu */
  font-size: 19px; /* Tamanho da fonte do menu */
}

.navbar-nav {
  margin-right: 120px; /* Margem à direita do menu */
}

.logo-img {
  max-width: 100px; /* Largura máxima do logo */
  height: auto; /* Altura automática para manter proporções */
}

/* Estilos para o conteúdo principal */
.container-fluid.content {
  min-height: 100vh;
  background-size: cover; /* Cobrir toda a tela */
  background-position: center; /* Centralizar a imagem */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centralizar verticalmente */
  align-items: center; /* Centralizar na horizontal */
  padding-top: 50px; /* Espaçamento no topo */
}

p {
  text-align: center; /* Centraliza o texto */
  font-size: 1.1rem; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha para melhor legibilidade */
  max-width: 80%; /* Largura máxima do texto */
  margin: 20px auto; /* Margem superior e inferior de 20px, e centralizado horizontalmente */
}

/* Estilos para o carrossel de feedbacks */
.carousel {
  margin-top: 20px; /* Espaço superior entre o texto e o carrossel */
}

.carousel-item {
  text-align: center; /* Centraliza o texto dentro dos itens do carrossel */
}

.carousel-inner {
  width: 100%; /* Largura total do carrossel */
}

.carousel-control-prev, .carousel-control-next {
  width: 5%; /* Largura dos controles de navegação */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100%; /* Altura dos ícones dos controles de navegação */
  width: 100%; /* Largura dos ícones dos controles de navegação */
}

.carousel-control-next-icon:before {
  content: '>'; /* Ícone para o controle de navegação próximo */
}

.carousel-control-prev-icon:before {
  content: '<'; /* Ícone para o controle de navegação anterior */
}
