body {
    font-family: Arial, sans-serif;
    background: url('../assets/hplogin.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.input-group {
    position: relative;
}

.input-group-text {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-control {
    width: calc(100% - 40px);
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 0 5px 5px 0;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #80bdff;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.register-link {
    font-size: 14px;
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #0056b3;
}
