.navbar {
  margin-bottom: 20px; /* Adiciona margem inferior ao cabeçalho */
}

.navbar-brand {
  margin-left: 75px; /* Adiciona margem à ESQ da logo */
  margin-top: 15px;
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important; /* Use !important para garantir que a cor seja aplicada */
  font-size: 19px; /* Ajusta o tamanho da fonte */
}

.navbar-nav {
  margin-right: 120px; /* Adiciona margem à DIR do texto do menu */
}

.logo-img {
  max-width: 100px;
  height: auto;
}

/* Estilo para centralizar as caixas horizontalmente */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Definindo a altura total da tela */
  background-image: url('../assets/img/background.png'); /* Adicionando imagem de fundo */
  background-size: cover; /* Redimensiona a imagem para preencher a área do contêiner */
  background-position: center; /* Centraliza a imagem */
}

/* Estilo para as caixas */
.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
  text-align: center; /* Centraliza o texto dentro da caixa */
}

/* Estilo para a classe da caixa da esquerda */
.left-box {
  margin-right: 10px; /* Margem direita para separar as caixas */
}

/* Estilo para a classe da caixa da direita */
.right-box {
  margin-left: 10px; /* Margem esquerda para separar as caixas */
}

/* Estilo para o título das caixas */
.box h3 {
  color: #333; /* cor do texto */
}

/* Estilo para a descrição das caixas */
.box p {
  color: #666; /* cor do texto */
}

/* Estilo para os botões */
.btn {
  margin-top: 10px;
}

/* Estilo para o ícone de engrenagem */
.gear-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #666;
}
