body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/img/hplogin.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff; /* Fundo branco */
    padding: 30px;
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da; /* Cor da borda */
    border-radius: 5px; /* Cantos arredondados */
    transition: border-color 0.3s ease; /* Efeito de transição na borda */
}

.form-control:focus {
    outline: none; /* Remove o contorno no foco */
    border-color: #80bdff; /* Cor da borda ao focar */
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff; /* Cor do texto */
    background-color: #007bff; /* Cor do botão */
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24; /* Cor do texto */
    background-color: #f8d7da; /* Cor de fundo */
    border: 1px solid #f5c6cb; /* Cor da borda */
}

.alert-success {
    color: #155724; /* Cor do texto */
    background-color: #d4edda; /* Cor de fundo */
    border: 1px solid #c3e6cb; /* Cor da borda */
}
